
.contenedor{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
}
.contenedor>div.card{
  width: 80%;
}


@media screen and (min-width: 780px) {
  .contenedor {
  flex-direction: row;
  }
  .contenedor>div.card{
    background-color: #fafafa;
    width: 25%;
  }
  .card--svg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contenedor>div.card--png{
    width: 100%;
  }
  .contenedor--png{
    flex-direction: column;
  }
}